/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 480px) and (max-width: 575.98px) {
    .perfect-text {
        text-align: center;
    }
    .perfect {
        padding: 50px 35px;
    }
    .perfect-text .photodiary {
        font-size: 14px;
        padding-bottom: 0px;
    }
    .perfect-text h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .perfect-text .para-text {
        font-size: 14px;
    }
    .menu-detail-part {
        text-align: center;
        padding: 25px 35px;
    }
    .menu-detail-text h2 {
        font-size: 24px;
        padding-bottom: 0px;
    }
    .first-contect {
        padding-bottom: 35px;
    }
    .btn2-custom {
        padding: 10px 26px;
        font-size: 17px;
        margin-top: 70px;
    }
    .btn2-custom {
        margin-top: 30px;
    }
    .signup-details h2 {
        font-size: 22px;
        padding-bottom: 25px;
    }
    .form-inline .form-control {
        width: 200px;
    }
    .form-design input {
        font-size: 10px;
        text-align: center;
    }
    .signup-part form .btn-custom {
        margin-top: 5px;
    }
    .footer-part {
        padding: 20px 35px;
    }
    .footer-part .left-part {
        text-align: center;
        padding-bottom: 15px;
    }
    .footer-part .right-part {
        /* text-align: right; */
        text-align: center;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .perfect-text {
        text-align: center;
    }
    .perfect-text .photodiary {
        font-size: 14px;
        padding-bottom: 0px;
    }
    .perfect-text h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .perfect-text .para-text {
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #626262;
    }
    .perfect {
        padding: 50px 50px;
    }
    .menu-detail-part {
        text-align: center;
        padding: 35px 50px;
    }
    .menu-detail-text h2 {
        font-size: 24px;
    }
    .first-contect {
        padding-bottom: 35px;
    }
    .btn2-custom {
        padding: 10px 26px;
        font-size: 17px;
        margin-top: 70px;
    }
    .signup-details h2 {
        font-size: 30px;
        padding-bottom: 35px;
    }
    .form-inline .form-control {
        width: 400px;
    }
    .btn2-custom {
        margin-top: 45px;
    }
    .footer-part {
        padding: 15px 54px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .perfect-text {
        text-align: center;
    }
    .perfect-text .para-text {
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #626262;
    }
    .perfect {
        padding: 60px 60px;
    }
    .menu-detail-part {
        text-align: center;
        padding: 60px 45px;
    }
    .first-contect {
        padding-bottom: 70px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .perfect {
        padding: 60px 90px;
    }
    .perfect-text .para-text {
        text-align: justify;
    }
    .menu-detail-part {
        padding: 60px 90px;
    }
    .menu-detail-text h2 {
        font-size: 20px;
    }
    .menu-detail-text .menu-para {
        padding: 0 13% 0 0;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}